<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation-rtl.min.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>

    

</head>


    <body style="background-color: #94cdff";
        font-family: "Helvetica Neue Light", Helvetica, sans-serif;
        font-weight: 300;
        text-align: center;>
    
      
        <div class='row' styles"height: 80vh; display: flex; justify-content: center; align-items: center">
    <div class='small-8 columns'>
      <h1> CS172 Crawler </h1>
      <form action='search' method='POST'>
        <label for="id_q">Search Words(): </label>
        <input type="text" id="id_q" name="q" autofocus />
        <button action='search'>Search</button>
        </form>
        <!--input value="Crawl" class="button"/-->
        
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.js"></script>
    
    <!--Comment-->
    
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.js"></script>

    
    <script scr="application.py"></script>
    
    {% block content%}
    <div class="results">
        <h1>Query {{query}} resulted in</h1>
        <table>
            <tr>
                <th>Hits</th>
                <th>Title</th>
            </tr>

            {%for(hits, title) in resultList %}
            <tr class="resultClass"><td>{{hits}}</td><td>{{title}}</td></tr>
            {% endfor %}
        </table>
    {% endblock %}





    </body>
    
</html>